---
import { Icon } from "astro-icon";
import Tag from "./Tag.astro";

export interface Props {
	title: string;
	image?: string;
	tags?: string[];
	url?: string;
	icon?: string;
	extra?: string;
}

const { title, image, tags, url, icon, extra } = Astro.props;
---

<div
	class={`tailwind-global ${
		image ? "md:grid md:grid-cols-4" : ""
	} w-full items-center gap-4 overflow-hidden rounded-lg shadow-lg transition-all hover:shadow-xl`}
>
	{
		image && (
			<div class="h-full w-full">
				<img src={image} alt={title} class="-z-10 h-full w-full object-cover" />
			</div>
		)
	}
	<div class={`md:col-span-3 md:row-span-1 row-span-3 ${icon ? "flex" : ""}`}>
		{
			icon && (
				<img
					src={icon}
					alt={title}
					class="mt-4 ml-4 w-16 place-self-start rounded-lg object-contain shadow"
				/>
			)
		}
		<div class="flex flex-grow flex-col gap-2 p-4">
			<div
				class="flex flex-col items-start justify-between md:flex-row md:items-center md:gap-2"
			>
				<h1 class="text-3xl font-semibold">
					{
						url ? (
							<a href={url} target="_blank" rel="noopener noreferrer">
								{title}
								<Icon name="lucide:external-link" class="inline w-4" />
							</a>
						) : (
							<span>{title}</span>
						)
					}
				</h1>
				{extra && <span class="text-gray-700">{extra}</span>}
			</div>
			<slot />
			<ul class="flex flex-wrap gap-1">
				{
					tags?.map((tag) => (
						<li style={{ listStyle: "none" }}>
							<Tag>{tag}</Tag>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>
